<header class="navbar navbar-fixed-top navbar-navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <%= link_to "For busy modern people", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to  "Home",       root_path %></li>
        <li><%= link_to "会員登録",    member_path %></li>
        <li><%= link_to "検索依頼",    purchase_path %></li>
        <li><%= link_to "利用方法",    use_path%></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
      </nav>
  </div>
</header>